-
  entry = Object.assign({
    sticky: false,
    format: 'standard',
    thumbnail: '',
    quote: '',
    authorName: '汪磊',
    authorAvatar: 'uploads/avatar.jpeg',
    published: '2013年01月07日',
    publishedUTC: '2013-01-07T07:07:21+08:00',
    updated: '2017年06月06日',
    updatedUTC: '2017-06-06T07:07:21+08:00',
    categories: ['旅行'],
    tags: ['诗', '远方'],
    comments: 2,
    likes: 10,
    dislikes: 1,
    share: false,
    title: '',
    subtitle: '',
    content: [],
    classes: []
  }, entry)

  entry.classes = ['card', 'card-entry', 'format-' + entry.format]

  ;(entry.thumbnail || entry.quote) && entry.classes.push('has-post-thumbnail')

  entry.sticky && entry.classes.push('sticky')

article(class=entry.classes.join(' '))

  header.card-header
    if entry.sticky
      .card-sticky #[i] #[i] #[i]
    if entry.thumbnail
      a(href='single.html')
        img.card-img-top(src=entry.thumbnail, alt=entry.title)
    if entry.quote
      a(href='single.html')
        span.card-img-top= entry.quote
    .card-img-overlay: .card-meta
      .list
        span.byline
          span.sr-only 作者
          a(href='#') #[img(src=entry.authorAvatar, alt=entry.authorName, width='32')]#{entry.authorName}
        span.posted-on
          i.icon-calender
          span.sr-only 日期
          a(href='#')
            time.published(datetime=entry.publishedUTC, pubdate)= entry.published
            time.updated.sr-only(datetime=entry.updatedUTC)= entry.updated
        span.cat-links
          i.icon-paper-clip
          span.sr-only 分类
          each item in entry.categories
            a(href='#')= item
      .list
        span.comments-link
          span.sr-only 评论
          a.icon-bubble(href='#')= entry.comments
        span.like-link
          span.sr-only 喜欢
          a.icon-like(href='#')= entry.likes
        span.dislike-link
          span.sr-only 不喜欢
          a.icon-dislike(href='#')= entry.dislikes
        if share
          span.share-link
            span.sr-only 分享
            a.icon-share-alt(href='#')

  content.card-body
    h2.card-title: a(href='single.html')= entry.title
    if entry.subtitle
      h5.card-subtitle= entry.subtitle
    .card-text
      each item in entry.content
        p= item

  footer.card-footer
    span.tags-links
      i.icon-tag
      each item in entry.tags
        a(href='archive.html')= item
    span.edit-link
      i.icon-pencil
      a(href='single.html') 编辑
    span.more-link
      a(href='single.html') 继续阅读 &rarr;
