- let title = 'Layout'
- let description = 'Hello world'
- let keywords = 'wedn, wedn.net, zce, iceStone'
- let author = 'iceStone <ice@wedn.net> (https://github.com/zce)'
- let generator = 'WEDN.NET'

- let cover = 'hero'
- let hasSidebar = false

block global

doctype html
html.no-js(lang='zh-CN')

  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    meta(name='author', content=author)
    meta(name='generator', content=generator)

    title #{ title } « REBORN

    //- Place favicon.ico in the root directory
    link(rel='apple-touch-icon', href='assets/images/icon.png')

    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Great+Vibes')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Exo+2:400,500&amp;subset=latin-ext')

    // build:css assets/styles/main.css
    link(rel='stylesheet', href='assets/styles/main.css')
    // endbuild

    block styles

    // build:js assets/scripts/modernizr.js
    script(src='assets/scripts/modernizr.js')
    // endbuild

  body

    a.sr-only.sr-only-focusable(href='#content') 跳转到内容区

    header.site-header(role='banner'): include header

    if hasSidebar
      #content.container: .row
        main#primary.site-main.col-lg-9(role='main'): block main
        aside#secondary.site-sidebar.col-lg-3(role='complementary'): include sidebar
    else
      #content
        main#primary.site-main(role='main'): block main

    footer.site-footer(role='contentinfo'): include footer

    // build:js assets/scripts/jquery.js
    script(src='node_modules/jquery/dist/jquery.js')
    // endbuild

    // build:js assets/scripts/main.js
    script(src='node_modules/popper.js/dist/umd/popper.js')
    script(src='node_modules/bootstrap/js/dist/util.js')
    //- script(src='node_modules/bootstrap/js/dist/alert.js')
    //- script(src='node_modules/bootstrap/js/dist/button.js')
    //- script(src='node_modules/bootstrap/js/dist/carousel.js')
    script(src='node_modules/bootstrap/js/dist/collapse.js')
    script(src='node_modules/bootstrap/js/dist/dropdown.js')
    //- script(src='node_modules/bootstrap/js/dist/modal.js')
    //- script(src='node_modules/bootstrap/js/dist/scrollspy.js')
    //- script(src='node_modules/bootstrap/js/dist/tab.js')
    //- script(src='node_modules/bootstrap/js/dist/tooltip.js')
    //- script(src='node_modules/bootstrap/js/dist/popover.js')
    script(src='assets/scripts/headroom.js')
    script(src='assets/scripts/main.js')
    // endbuild

    block scripts
